{% extends 'home/base.html.twig' %}

{% block title %}New ProductOrder{% endblock %}

{% block body %}
<div class="ui fluid container" style="background-color: lightgray">
    <div class="ui basic segment">
        <h1 class="ui huge header">NEW ORDER</h1><br>
    </div>
</div>

<div class="ui container">
    <br>
    <p><strong>Welcome to the new order form. Kindly read the instructions very well</strong></p><p><br></p><p>Insert your 1688,taobao product links and provide a clear descriptions of the item(quantity, color,size).</p><p>We want to reduce the rate of unserious client submitting multiple forms, etc. Payment of a sum of N3000 commitment fee before submitting your form is required, The order will be attended to after the payment is verified. <strong>(Note: This fee will be refunded or deducted from your order when you want to pay for your order.)</strong></p><p><strong>THIS AMOUNT IS NOT REFUNDABLE IF YOU DON'T&nbsp;MAKE PROCEED WITH YOUR ORDER</strong></p><p><br></p><p>PAYMENT INFO</p><p><br></p><p>Account name: Bello Tosin</p><p>Account number: 2252113956</p><p>Zenith bank</p><p><br></p><p>Account name: Bello Tosin</p><p>Account number: 0121702529</p><p>Gtb</p><p><br></p><p>Your order will be processed immediately after payment is made.</p><p>We don't guarantee the quality of the item you are purchasing, We buy what link you send to us.</p><p>We don't provide item weight before purchase, We only provide item weight after the package has been received at the China warehouse and weighed.</p><p>Sometimes there might be missing or incomplete&nbsp;items due to out of stock or inability of the local service delivery to deliver the item on time. When such happens we will deduct the amount from your Clearing fee or refund.</p><p>After purchase and delivery to your location, kindly report any issues regards the item immediately within 2-3days.</p>
    <br>

    <div class="ui segment">
            {{ form_start(form, {'attr':{'class':'ui form'}}) }}
            {{ form_widget(form) }}
            <br>
            <div class="ui attached button">Please Add The Product Links With Description Below</div>
            <br>
            <div class="two fields">
                <div class="field">
                    <label for="product_order_products[0][link]">Product link</label>
                    <input name="product_order_products[0][link]" type="text">
                </div>
                <div class="field">
                    <label for="product_order_products[0][name]">Description</label>
                    <input name="product_order_products[0][name]" type="text">
                </div>
            </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[1][link]">Product link</label>
                <input name="product_order_products[1][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[1][name]">Description</label>
                <input name="product_order_products[1][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[2][link]">Product link</label>
                <input name="product_order_products[2][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[2][name]">Description</label>
                <input name="product_order_products[2][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[3][link]">Product link</label>
                <input name="product_order_products[3][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[3][name]">Description</label>
                <input name="product_order_products[3][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[4][link]">Product link</label>
                <input name="product_order_products[4][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[4][name]">Description</label>
                <input name="product_order_products[4][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[5][link]">Product link</label>
                <input name="product_order_products[5][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[5][name]">Description</label>
                <input name="product_order_products[5][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[6][link]">Product link</label>
                <input name="product_order_products[6][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[6][name]">Description</label>
                <input name="product_order_products[6][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[7][link]">Product link</label>
                <input name="product_order_products[7][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[7][name]">Description</label>
                <input name="product_order_products[7][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[8][link]">Product link</label>
                <input name="product_order_products[8][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[8][name]">Description</label>
                <input name="product_order_products[8][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[9][link]">Product link</label>
                <input name="product_order_products[9][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[9][name]">Description</label>
                <input name="product_order_products[9][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[10][link]">Product link</label>
                <input name="product_order_products[10][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[10][name]">Description</label>
                <input name="product_order_products[10][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[11][link]">Product link</label>
                <input name="product_order_products[11][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[11][name]">Description</label>
                <input name="product_order_products[11][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[12][link]">Product link</label>
                <input name="product_order_products[12][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[12][name]">Description</label>
                <input name="product_order_products[12][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[13][link]">Product link</label>
                <input name="product_order_products[13][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[13][name]">Description</label>
                <input name="product_order_products[13][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[14][link]">Product link</label>
                <input name="product_order_products[14][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[14][name]">Description</label>
                <input name="product_order_products[14][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[15][link]">Product link</label>
                <input name="product_order_products[15][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[15][name]">Description</label>
                <input name="product_order_products[15][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[16][link]">Product link</label>
                <input name="product_order_products[16][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[16][name]">Description</label>
                <input name="product_order_products[16][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[17][link]">Product link</label>
                <input name="product_order_products[17][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[17][name]">Description</label>
                <input name="product_order_products[17][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[18][link]">Product link</label>
                <input name="product_order_products[18][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[18][name]">Description</label>
                <input name="product_order_products[18][name]" type="text">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label for="product_order_products[19][link]">Product link</label>
                <input name="product_order_products[19][link]" type="text">
            </div>
            <div class="field">
                <label for="product_order_products[19][name]">Description</label>
                <input name="product_order_products[19][name]" type="text">
            </div>
        </div>

            <br>
{#            <div class="field">#}
{#                <label for="image">UPLOAD IMAGE OF PRODUCT</label>#}
{#                <input id="files" name="image" type="file" >#}
{#                <input id="file-id" name="product_order_products[0][image]" hidden type="text">#}
{#            </div>#}
{#        <script>#}
{#            const entrypoint = document.getElementById('api-entrypoint').innerText;#}
{#            let input = document.getElementById('files');#}
{#            input.addEventListener('change', uploadImage);#}

{#            function uploadImage() {#}
{#                value = input.files[0];#}

{#                if (value instanceof File) {#}
{#                    const body = new FormData();#}
{#                    body.append('file', value);#}

{#                    const resp = fetch(`${entrypoint}/api/media_objects`, { body, method: 'POST' })#}
{#                        .then(response => response.json());#}
{#                    resp.then(data => {#}
{#                        document.getElementById("file-id").value = data.id;#}
{#                    });#}
{#                }#}
{#            }#}
{#        </script>#}
        <div class="ui basic center aligned segment">
            <button class="ui submit blue button">{{ button_label|default('Submit Form') }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
    <br>
{% endblock %}